html {
    scroll-behavior: smooth;
}

body{
    background-image: url('background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#menu {
    background-color: #2f3136;
    text-align: center;
    font-family: Arial;
    margin-top: -21px;
    margin-left: -8px;
    width: 101.5%;
    
}

a.menu-item {
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 0.5rem;
}

a.menu-item:link, a.menu-item:visited {
    background-color: #2f3136;
}

a.menu-item:hover, a.menu-item:active {
    background-color: #3c3f45;
}

#header {
    text-align: center;
    color: white;
}

.headline {
    font-family: Arial;
}

.sub-headline {
    font-family: Segoe Print;
    margin-top: -1.5rem;
}

.color-light-gray {
    color: #dcddde;
}

div.info-box {
    background-color: #36393f;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-family: Segoe UI;
    width: 50rem;
    margin: 0 auto;
	margin-top: 0.5rem;
    transition: 0.5s;
}

div.code-block {
    background-color: #2f3136;
    border-radius: 0.5rem;
    border: black 0.1rem solid;
    padding: 0.5rem;
	color: #dcddde;
}

h2.code-block-headline {
	color: #dcddde;
	margin-bottom: -0.1rem;
	margin-left: 0.5rem;
	background-color: #2f3136;
	border-radius: 0.5rem;
	border: black 0.1rem solid;
	width: max-content;
	padding: 0.5rem;
}

#jump-to-top {
    background-color: #2f3136;
    border-radius: 0.5rem;
    border: 2px solid black;
    font-size: xx-large;
    margin: 0.5rem;
    text-decoration: none;
    padding: 0.5rem;
    color: #dcddde;
    position: fixed;
    bottom: 0.5rem;
    right: 0.5rem;
    transition: 0.5s;
    opacity: 0;
}